@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-typing {
  position: relative;
}

.animate-typing::before {
  content: '|';
  font-size: 40px;
  position: absolute;
  left: 0;
  top: 0;
  color: #06141B;
  animation: cursor-blink 0.8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  opacity: 1;
}

.typing-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  opacity: 0;
  animation: typing 4s linear forwards, fade-in 0.5s linear forwards; /* Changed cubic-bezier to linear for consistent speed */
}

/* Smooth delay for each text block */
.typing-text:nth-child(1) {
  animation-delay: 0.5s; /* Delay for first text */
}

.typing-text:nth-child(2) {
  animation-delay: 3.8s; /* Overlap for second text */
}

.typing-text:nth-child(3) {
  animation-delay: 7.2s; /* Overlap for third text */
}

.typing-text:nth-child(4) {
  animation-delay: 10.6s; /* Overlap for fourth text */
}

/* Typing animation */
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Cursor blinking */
@keyframes cursor-blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

/* Hide the cursor after typing ends */
.animate-typing::before {
  animation: hide-cursor 0.3s ease-in-out forwards;
}

@keyframes hide-cursor {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
